<header>
  <!--MENU-->
  <div class= navbar>
    <div class="container" >
      <nav class="row u-full-width">
        <div class="row">
          <div class="u-pull-left ">
            <h4><a href="{{base.url}}/" style="color:black;   text-decoration: none;">Adrien ARCURI</a></h4>
          </div>
          <div class="u-pull-right">
            {% for item in site.pages %}
              {% if item.title %}
                <a class="button button-primary {% if page.url contains item.url %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
