

header {
  padding-top: 150px;
  padding-bottom: 50px;
}

footer {
  padding-top: 50px;
}

h1 {
  text-align: center;
}

a {
  color: #007fa7;
}

.row {
  padding-top: 10px;
}

.text-center {
  text-align: center;
}
